# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-egg/
dist/
downloads/
eggs/
.egg/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# IDE
.vscode/
.idea/
*.swp
*.swo

# Database
data/db.duckdb
external/mocked_response.json
data/wells_prod.csv
data/wells_production.duckdb

# Temporary files
temp/*.csv

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Test environment files
test_venv/
.pytest_cache/

# Logs and temp files
*.log
*.sqlite
*.sqlite3
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm
*.db
*.db-journal
*.db-wal
*.db-shm
*.bak
*.tmp
*.temp
